.info-area{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1-area{
    width: 100%;
    height: auto;
    color: var(--font-color-black);
}

.h1-area h1{
    margin: 50px 0px 0px 0px ;
    font-size: 45px;
}

.paragraph-area{
    color: var(--font-color-gray);
    font-size: 20px;
}