.info-area{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1-area{
    width: 100%;
    height: auto;
    font-size: 23px;
    color: var(--font-color-black);
}

.paragraph-area{
    color: var(--font-color-gray);
    font-size: 20px;
}