.btnGithub{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d1d1;
    padding: 4px 12px;
    font-size: 14px;
    color: black;
    border-radius: 5px;
}

.btnGithub svg{
    width: 20px;
    margin-right: 5px;
}

.btnGithub:hover{
    transition: 0.5s;
    background-color: #f7f7f7;
}

.a-btn{
    text-decoration: none;
}