.header-area{
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}

.navbar-content{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
}

.docsai-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.docsai-logo img{
    width: 40px;
    padding-right: 5px;
}

.docsai-name{
    font-weight: bold;
    color: #0267eb;
    margin: 0px;
}