:root {
  max-width: 100vw;
  max-height: 100vh;
  font-family: system-ui, sans-serif;
  
  padding: 0;
  margin: 0;

  --font-color-black: #020817;
  --font-color-gray: #64748b;
  --background-gray: #f1f5f9;
  --background-icons-blue: #2463eb1a;
  --background-blue: #f1f5f980;
  --default-border-radius: 5px;
  --border-color: #e4e4e4;
  --border-blue: #2463eb2d;
  --color-blue: #2463eb;
  --color-blue-hover: #356ee9;
  overflow-x: hidden;
}
